body {
  margin: 0;
  font-family: Arial;
  background: url("IMG_7368.JPG") no-repeat center center/cover;
  height: 100vh;
  color: white;
  text-align: center;
}

.container {
  background: rgba(0,0,0,0.4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

#yesBtn {
  background: pink;
}

#noBtn {
  background: gray;
}
